/LearnBuilder.Test/bin
/LearnBuilder.Test/obj
/LearnFacade.Test/bin
/LearnFacade.Test/obj
/PracticeCommand.Test/obj
/PracticeCommand.Test/bin
/PracticeChainOfResp.Test/bin
/PracticeChainOfResp.Test/obj
/LearnTemplateMethod.Test/obj
/LearnTemplateMethod.Test/bin
/LearnStrategy.Test/bin
/LearnStrategy.Test/obj
/LearnState.Test/obj
/LearnState.Test/bin
/LearnSingleton.Test/bin
/LearnSingleton.Test/obj
/LearnMediator2.Test/obj
/LearnMediator2.Test/bin
